<h1>Checkout da Angular Conf 2026</h1>

<app-ticket-item 
  eventName="Angular Conf 2026"
  [quantity]="ingressos().length"
  (quantityChange)="ajustarQuantidade($event)"
  (discountApplied)="aplicarDesconto($any($event))" /> <hr>

<h3>Total: {{ totalValue() | currency:'BRL' }}</h3>

@for (item of ingressos(); track item.id) {
  
  <app-card [title]="item.nome">
    <p><strong>Data:</strong> {{ item.data | date:'dd/MM/yyyy' }}</p>
    <p><strong>Preço:</strong> {{ item.preco | currency:'BRL' }}</p>
    
    <p><strong>Benefícios:</strong> {{ item.descricao | resumo:40 }}</p>

    <div class="tipo-badge">
      @switch (item.tipo) {
        @case ('VIP') {
          <span class="vip">Acesso Total</span>
        }
        @case ('MEIA') {
          <span class="meia">Obrigatório carteirinha</span>
        }
        @default {
          <span class="padrao">Acesso Padrão</span>
        }
      }
    </div>

    <button (click)="remover(item.id)">Remover</button>
  </app-card>

} @empty {
  <p class="empty-msg">Seu carrinho está vazio.</p>
}

<div class="footer">
  <h3>Total: {{ totalValue() | currency:'BRL' }}</h3>
  
  @if (temBrinde()) {
    <p>🎉 Você ganhou um brinde!</p>
  }
</div>